.col-md-8.col-md-offset-2
  .well
    .form
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          = f.label :email, "Email"
          = f.email_field :email, autofocus: true, class: "form-control"
        .form-group
          = f.label :password, "Mot de passe"
          = f.password_field :password, autocomplete: "off", class: "form-control"
        .pull-right
          - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
            = link_to "Mot de passe oublié?", new_password_path(resource_name)

        .pull-left.checkbox
          - if devise_mapping.rememberable?
            = f.label :remember_me do
              = f.check_box :remember_me
              Se souvenir de moi


        = button_tag(type: "submit", class: "btn btn-default btn-lg btn-block") do
          %span.glyphicon.glyphicon-ok
