.col-md-8.col-md-offset-2
  .well
    .form
      = form_for @user do |f|
        - if @user.errors.any?
          = render 'shared/error_messages'
        - if ! flash[:success].nil?
          .alert.alert-success
            = flash[:success]
        .form-group
          = f.label :name, "Prénom + Nom"
          = f.text_field :name, class: "form-control"
        .form-group
          = f.label :email, "Email"
          = f.email_field :email, class: "form-control"
        .form-group
          = f.label :email, "Telephone"
          = f.telephone_field :phone, class: "form-control"
        .form-group
          = f.label :password, "Mot de passe"
          = f.password_field :password, class: "form-control", autocomplete: "off"
        .form-group
          = f.label :password_confirmation, "Confirmation"
          = f.password_field :password_confirmation, class: "form-control", autocomplete: "off"
        = f.submit "Mettre à jour vos infos", class: "btn btn-default"
