%h1 Enregistrement
= form_for(@user) do |f|
  - if @user.errors.any?
    - @user.errors.full_messages.each do |msg|
      %p
      = msg
  %p
    = f.label :name, "Pseudo"
    %br
    = f.text_field :name
  %p
    = f.label :email, "Email"
    %br
    = f.text_field :email
  %p
    = f.label :password, "Mot de passe"
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation, "Confirmation"
    %br
    = f.password_field :password_confirmation
  %p
    = f.submit "Création du compte"
