
= form_for @gift, html: {multipart: true} do |f|
  - if @gift.errors.any?
    %h3 Votre cadeau n'a pas été créé.
    - @gift.errors.full_messages.each do |msg|
      %p
        = msg
  %p
    = f.label :title
    %br
    = f.text_field :title, placeholder: "Titre"
  %p
    = f.label :price, "Prix"
    %br
    = f.number_field :price
  %p
    = f.label :availability, "Disponibilité"
    %br
    = f.number_field :availability

  = f.fields_for :gift_images do |builder|
    %li
      = builder.label :photo, "Photo"
      %br
      = builder.file_field :photo
      %br
  %p
    = f.submit
