
.col-sm-4.col-md-4
  .panel.panel-default
    .panel-heading.text-center.small
      = link_to truncate(gift.title, length: 27), gift_path(gift)
    .panel-body
      %p
        Prix:
        = gift.price
        €
      %p
        - if gift.available?
          Disponibilité:
          = gift.availability
        - else
          .red.small
            Cet article n'est plus disponnible
      = link_to gift_path(gift), class: "thumbnail" do
        - if ! gift.gift_image.nil?
          = image_tag gift.gift_image.photo.url(:medium)
        - else
          %span.glyphicon.glyphicon-eye-open
      %p
        - if user_signed_in?
          = render "transaction_form", gift: gift
