
.col-sm-4.col-md-4
  .thumbnail
    = image_tag gift.gift_images.first.photo.url(:medium)
    .caption
      %h3.text-center
        =gift.title
      %p
        Prix:
        = gift.price
      %p
        Disponnibilité:
        = gift.availability
      %p
        = link_to "Détails", gift_path(gift), class: "btn btn-default"
        - if user_signed_in? && gift.available?
          = render "transaction_form_2", gift: gift
