%h1
  = @gift.title
%p
  Prix:
  = @gift.price
  €
%p
  Disponnibilité:
  = @gift.availability
%p
  - @gift.gift_images.each do |image|
    %li
      = image_tag image.photo.url(:medium)

%p
  /= link_to "Ajouter au panier", gift_transactions_path(@gift, @transaction), method: :post
  - if @gift.available?
    = render 'transaction_form_2', gift: @gift
