.h1 Nouveau cadeau
= form_for :gift, url: gifts_path do |f|
  .p
    = f.label :title
    = f.text_field :title
  .p
    = f.label :price
    = f.number_field :price
  .p
    = f.label :availability
    = f.number_field :availability
  .p
    = f.submit
