%h1 Nouveau cadeau
= form_for :gift, url: gifts_path do |f|
  - if @gift.errors.any?
    %h2
      Il y a
      = pluralize(@gift.errors.count, "erreures")
      qui empêche l'ajout du cadeau:
    %ul
      - @gift.errors.full_messages.each do |msg|
        %li
          = msg

  %p
    = f.label :title
    = f.text_field :title
  %p
    = f.label :price
    = f.number_field :price
  %p
    = f.label :availability
    = f.number_field :availability
  %p
    = f.submit
