%p
  = @gift.title
%p
  Prix
  %br
  = @gift.price
%p
  Disponnibilité
  %br
  = @gift.availability
%p
  = image_tag @gift.gift_images.first.photo.url(:medium)
%p
  = link_to "Modifier", edit_gift_path(@gift)
