%h1
  = @gift.title
%p
  Prix:
  = @gift.price
  €
%p
  Disponnibilité:
  = @gift.availability
%p
  = image_tag @gift.gift_images.first.photo.url(:medium)
%p
  = link_to "Modifier", edit_gift_path(@gift)
