.col-md-8.col-md-offset-2

  .panel.panel-default
    .panel-body
      %table.table
        %thead.text-center
          %tr
            %th.text-center
              Prix
            %th.text-center
              Communication Libre
            %th.text-center
              Statut
        %tbody
          %tr
            %td.text-center
              = @order.price
              €
            %td.text-center
              = @order.communication
            %td.text-center
              - if @order.paid
                %span.label.label-success
                  Payé
              - else
                %span.label.label-danger
                  Non Payé
              - if @order.validated
                %span.label.label-success
                  Validé
              - else
                %span.label.label-warning
                  Non validé
      .row
        %br
        = link_to "#transactionsCollapse", class: "btn btn-default btn-lg btn-block", "data-toggle" => "collapse", "aria-expanded" => "false", "aria-controls" => "transactionsCollapse" do
          Cadeaux commandés
          %span.badge
            = @order.transactions.size

        #transactionsCollapse.collapse
          = render "transactions", transactions: @order.transactions
    .panel-heading
      = link_to user_orders_path(@order.user), class: "btn btn-default" do
        Mes commandes
      -if ! @order.paid
        = link_to "Payer maintenant", order_pay_path(@order), class: "btn btn-default"
        = link_to user_order_path(@order.user, @order), method: :delete, class: "btn btn-default" do
          Supprimer
