.panel.panel-default
  .panel-heading.text-center
    = @gift.title
  .panel-body
    .row
      .col-md-5
        .thumbnail
          = image_tag @gift.gift_image.photo.url(:medium)
      .col-md-7
        .caption
          %p
            = @gift.description
          %p
            .pull-right
              Prix:
              = @gift.price
              €
            .pull-left
              Disponnibilité:
              = @gift.availability
    .row
      .col-md-4
        = link_to "Liste des cadeaux", gifts_path, class: "btn btn-primary btn-lg btn-block"
      .col-md-4
        = link_to "Modifier", edit_gift_path(@gift), class: "btn btn-primary btn-lg btn-block"
      .col-md-4
        = link_to "Supprimer", gift_path(@gift), method: :delete, class: "btn btn-danger btn-lg btn-block"
