.panel.panel-default
  .panel-heading.text-center
    = @gift.title
  .panel-body
    .row
      .col-md-5
        .thumbnail
          - if ! @gift.gift_image.nil?
            = image_tag @gift.gift_image.photo.url(:medium)
          - else
            %span.glyphicon.glyphicon-remove
          .caption
            %p
              .pull-right
                Prix:
                = @gift.price
                €
              .pull-left
                Disponnibilité:
                = @gift.availability
            %br
      .col-md-7
        = simple_format(@gift.description)

    .row
      .col-md-5
        = link_to gifts_path, class: "btn btn-primary btn-lg btn-block" do
          .pull-left
            %span.glyphicon.glyphicon-chevron-left
          Liste des cadeaux
      .col-md-3
        = link_to "Modifier", edit_gift_path(@gift), class: "btn btn-primary btn-lg btn-block"
      .col-md-3.col-md-offset-1
        = link_to "Supprimer", gift_path(@gift), method: :delete, class: "btn btn-danger btn-lg btn-block"
