.col-md-8.col-md-offset-2
  .well
    .form

      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: "form-control"
        = f.submit "Réinitialiser le mot de passe", class: "btn btn-default btn-lg btn-block"
