.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#coucou", "data-toggle" => "collapse", type: :button}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Home", root_path, class: 'navbar-brand'

    #coucou.collapse.navbar-collapse
      .navbar-left
        %ul.nav.navbar-nav
          %li
            = link_to "Liste des cadeaux", gifts_path
          %li
            = link_to "Logement", accomodation_path
          - if user_signed_in?
            - if current_user.admin?
              %li
                = link_to "Gérer les commandes"
              %li
                = link_to "Valider une commande", validate_orders_path
              %li
                = link_to "Gérer les rsvp", participations_path

            - else
              %li
                = link_to "Mon panier", user_transactions_path(current_user)
              %li
                = link_to "Mes commmandes", user_orders_path(current_user)
              %li
                - if current_user.coming?
                  = link_to "RSVP", edit_user_participation_path(current_user, current_user.participation)
                - else
                  = link_to "RSVP", new_user_participation_path(current_user)
              %li
                = link_to "Playlist", songs_path


      .navbar-right
        %ul.nav.navbar-nav
          - if user_signed_in?
            %li
              = link_to "Profil", edit_user_path(current_user)
            %li
              = link_to "Se déconnecter", destroy_user_session_path, :method => :delete

          - else
            %li

              = link_to "S'enregistrer", new_user_registration_path
            %li
              = link_to "Se connecter", new_user_session_path
