!!!
%html
  %head
    %title Wedding List
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    %script{:src => "//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry", :type => "text/javascript"}
    %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}
  %body
    = render 'layouts/header'
    .container
      .row
        .col-md-8.col-md-offset-2
          = yield
    = render 'shared/ga_footer'
